<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let order of orders">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{order.name}}</h5>
        <p class="card-text">{{order.description}}</p>
        <a href="#" class="btn btn-primary">Buy Tickets</a>
      </div>
      <div class="card-footer text-muted">
        {{order.date | date:'shortDate'}}
      </div>
    </div>
  </div>
</div>
<span>{{message}}</span>
<ol>
  <li *ngFor="let item of List">{{item}}</li>
</ol>